In [10]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix, classification_report

In [11]:
# Import the data
loanDataDF = pd.read_csv(Path('Resources/lending_data.csv'))
loanDataDF.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [107]:
# Import the data

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [12]:
# Split the data into X_train, X_test, y_train, y_test
X = loanDataDF.drop('loan_status', axis = 1)
y = loanDataDF['loan_status']

In [13]:
# Split the data into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [4]:
# Split the data into X_train, X_test, y_train, y_test
# X_train = loanDataDF.drop(columns=['loan_status'])
# y_train = loanDataDF['loan_status']

In [14]:
# X_train.head()
X_train_scaled

array([[-0.57708952, -0.56367666, -0.5652314 , ..., -0.43489843,
        -0.67289855, -0.5652314 ],
       [-0.95927354, -0.98302549, -0.98332378, ..., -0.96014741,
        -0.67289855, -0.98332378],
       [ 0.09173251,  0.10413354,  0.10371642, ...,  0.09035056,
         1.04334691,  0.10371642],
       ...,
       [ 0.18727852,  0.19070153,  0.18733489, ...,  0.09035056,
         1.04334691,  0.18733489],
       [ 0.61723554,  0.61229888,  0.61737277, ...,  0.61559954,
         1.04334691,  0.61737277],
       [ 0.37837052,  0.3807014 ,  0.37846284, ...,  0.61559954,
         1.04334691,  0.37846284]])

In [111]:
# Split the data into X_train, X_test, y_train, y_test

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
32815,8200.0,6.598,42700,0.297424,2,0,12700
59572,10500.0,7.591,52000,0.423077,4,1,22000
42325,7600.0,6.351,40400,0.257426,2,0,10400
39070,9700.0,7.254,48900,0.386503,4,0,18900
42524,11800.0,8.155,57300,0.476440,6,1,27300

I think the random forest model will work better as I would guess that issuing a loan measures the interaction between many variables. The more explainatory variables in the data, the better random forest performs.

In [26]:
# Train a Logistic Regression model print the model score
classifier = LogisticRegression()
classifier.fit(X_train_scaled, y_train)
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

Training Data Score: 0.9942908240473243
Testing Data Score: 0.9936545604622369

In [27]:
y_true = y_test
y_pred = classifier.predict(X_test_scaled)
print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     18765
           1       0.84      0.98      0.91       619

    accuracy                           0.99     19384
   macro avg       0.92      0.99      0.95     19384
weighted avg       0.99      0.99      0.99     19384

In [109]:
# Train a Logistic Regression model print the model score

0.9908171687990095

In [32]:
# Train a Random Forest Classifier model and print the model score
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train_scaled, y_train)
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

Training Score: 0.9975409272252029
Testing Score: 0.9917457697069748

In [30]:
y_true2 = y_test
y_pred2 = clf.predict(X_test_scaled)
print(classification_report(y_true2, y_pred2))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     18765
           1       0.85      0.90      0.87       619

    accuracy                           0.99     19384
   macro avg       0.92      0.95      0.94     19384
weighted avg       0.99      0.99      0.99     19384

The logistic regression performed every so slightly better, but both tests performed remarkably well. Parsing the small differences in numbers, the random forest has a higher training score and lower testing score, hinting at an overfitting of the training data. Perhaps it is because this data lacks categorical data types - something random forest excels at.

In [110]:
# Train a Random Forest Classifier model and print the model score

0.9910751134956666